<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xConnectUrl" value="https://cortex-demo.xconnect" />
    <add key="ContactSource" value="TacoFlix" />
    <add key="InteractionUserAgent" value="TacoFlix App" />
    <add key="MovieRenterEraOutcomeId" value="{6E88D42F-2399-4F64-B425-C357A332A95C}" />
    <add key="MovieRentedOutcomeId" value="{BF1D1773-5D76-4193-8196-98C5FDA8EB73}" />

    <!-- API Key from TheMovieDB.org -->
    <add key="MovieDbApiKey" value="" />

  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>